h1, #ghibli-video {
  text-align: center;
}

h1 {
    font-size:500%;
}


#card-area {
    padding-left: 7%;
    flex-wrap: wrap;
}

body {
    background-image: url("./src/images/sakura.jpg");
    background-repeat: repeat-y;
    background-color: transparent;

}

img { 
   width: 400px;
   height: 600px;
   display: inline-block; 
   max-width: 100%;
   
}

.images{
  max-width: 100%;
}


.movie-info {
    width: 400px;
    overflow: auto; 
    float: left;   
}

.movie-card {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   
}


.target-block .tooltip{
    display: none;
    position: relative;
}

p {
    display: inline;
  }


.target-block:hover .tooltip{
    z-index: 21;
    background-color: cornflowerblue;
     opacity: 0.8;
     display: flex;
     /* grid-template-columns: repeat(2,1fr); */
     border: 3px solid black;
     padding: 1%;
    
  }

  .target-block:hover .tooltip .tooltiptext{
     margin: 1%;

  }

.target-block:hover .tooltip p.tooltiptext{
    visibility: visible;
    width: 100%;
    height: auto;
    margin-right: 1px;
}

.tooltip img.tooltiptext{
    position: relative;
    /* top: 7%;
    left: 5%; */
    width:80%;
    height: auto;
    border: 1px solid black;
    overflow: hidden;
}

div#create-movie{
    position: fixed;
    top: 20%;
    right: 3%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    font-family: cursive;
}

div#create-movie img{
    width: 100px;
    height: auto;
    justify-self: center;
}

input {
    margin: 1px;
    width: 300px;
    height: auto;
}

input[type='submit'], input[type='button']{
    width: 100px;
    height: auto;
    font-size: 100%;
    background-color:rgb(12, 109, 8);
    border-radius: 5px;
    color: whitesmoke;
    font-family: cursive;
    
}

form {
    text-align: center;
    display: none;
    margin: 1%;
    font-family: cursive;
    color: rgb(12, 109, 8);
}

form > h3{
    font-size: 130%;
}

select textarea{
    margin: 1px;
}


.delete-movie{
    background-color: forestgreen;
    padding: 2%;
    border: 1px solid black;
    margin: 1%;
    border-radius: 10%;
    color: whitesmoke;
}

input[type='button']{
    width: auto;
}

input:nth-of-type(5){
    margin: 1%
}

@media only screen and (max-width: 1680px) {
.movie-card{
  width: 50%;
}
  }

  @media only screen and (max-width: 1100px){
    .movie-card{
      width: 80%;

    }

    iframe{
        width: 80%;
    }

    h1{
        font-size: 300%;
    }
}

@media only screen and (max-width: 1790px){
    div#create-movie{
        position: absolute;
        top: 20%;
        right: 3%;

    }
}
