h1, #ghibli-video {
  text-align: center;
}

h1 {
    font-size:500%;
}


#card-area {
    padding-left: 7%;
}

body {
    background-image: url("./src/images/sakura.jpg");
    background-repeat: repeat-y;
    background-color: transparent;

}

img { 
   width: 400px;
   height: 600px;
   display: inline-block; 
   
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.movie-info {
    width: 400px;
    /* background-color: rgb(107, 146, 207); */
    overflow: auto; 
    float: left;   
}

.movie-card {
    display: inline-flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.tooltip {
    position: relative;
    z-index: 20;
    overflow: visible;
}

p {
  display: inline;
}

.tooltip .tooltiptext {
    display: none;
}

.tooltip:hover {
    z-index: 21;
    overflow: visible;
}

.tooltip:hover .tooltiptext {
    display: block;
    width: 300px;
    padding: 1%;
    background-color: yellow;
    position: absolute;
    left: 10px;
    top: -2px;
    
}

/* .tooltip:hover {
  visibility: visible; 
} */

/* .tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black;
  }

  /* .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0; 
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px; 
    opacity: 0;
    transition: opacity 0.3s;
  }
  
 .tooltip .tooltiptext::after {
    content: "hellooooo";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  } 
  
 .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }  */