h1, #ghibli-video {
  text-align: center;
}

h1 {
    font-size:500%;
}


#card-area {
    padding-left: 7%;
}

body {
    background-image: url("./src/images/sakura.jpg");
    background-repeat: repeat-y;
    background-color: transparent;

}

img { 
   width: 400px;
   height: 600px;
   display: inline-block; 
   
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.movie-info {
    width: 400px;
    /* background-color: rgb(107, 146, 207); */
    overflow: auto; 
    float: left;   
}

.movie-card {
    display: inline-flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

/* .director-card {
    position: relative;
    z-index: 20;
    overflow: visible;
} */

/* .tooltip .tooltiptext{
    display: none;
} */





/* 

 */

.director-block .tooltip{
    display: none;
    position: relative;
}

p {
    display: inline;
  }


.director-block:hover .tooltip{
    z-index: 21;
    background-color: cornflowerblue;
     opacity: 0.8;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     border: 3px solid black;
  }

.director-block:hover .tooltip p.tooltiptext{
    visibility: visible;
    width: 100%;
    height: auto;
    margin-right: 1px;
}

.tooltip img.tooltiptext{
    position: relative;
    top: 7%;
    left: 5%;
    width:80%;
    height: auto;
    border: 1px solid black;
}









/* 


.tooltip:hover {
    z-index: 21;
    overflow: visible;
}

.tooltip:hover .tooltiptext {
    width: 400px;
    padding: 1%;
    /* background-color: yellow; 
    position: absolute;
    left: 10px;
    top: -2px;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    
}

.tooltip:hover p.tooltiptext{
 



.tooltip:hover img.tooltiptext {
    width: 50%;
    height: auto;
    display: inline-block;
    
} */





/* .tooltip:hover {
  visibility: visible; 
} */

/* .tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black;
  }

  /* .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0; 
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px; 
    opacity: 0;
    transition: opacity 0.3s;
  }
  
 .tooltip .tooltiptext::after {
    content: "hellooooo";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  } 
  
 .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }  */