h1, #ghibli-video {
  text-align: center;
}

h1 {
    font-size:500%;
}


#card-area {
    padding-left: 7%;
}

body {
    background-image: url("./src/images/sakura.jpg");
    background-repeat: repeat-y;
    background-color: transparent;

}

img { 
   width: 400px;
   height: 600px;
   display: inline-block; 
   
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.movie-info {
    width: 400px;
    overflow: auto; 
    float: left;   
}

.movie-card {
    display: inline-flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.director-block .tooltip{
    display: none;
    position: relative;
}

p {
    display: inline;
  }


.director-block:hover .tooltip{
    z-index: 21;
    background-color: cornflowerblue;
     opacity: 0.8;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     border: 3px solid black;
  }

.director-block:hover .tooltip p.tooltiptext{
    visibility: visible;
    width: 100%;
    height: auto;
    margin-right: 1px;
}

.tooltip img.tooltiptext{
    position: relative;
    top: 7%;
    left: 5%;
    width:80%;
    height: auto;
    border: 1px solid black;
}


